/* =====================
   Mobile phones
  ====================*/ 
  @media only screen and (min-width: 310px) {
    .footer  {
        width: 100%;
        height: 88px;
        top: 1054px;
        display: inline-block;
        background: #000000;
      
        &__develop  {
            margin-left: 10px;
            width: 184px;
            height: 28px;        
            font-size: 12px;
            line-height: normal;
            color: #FFFFFF;   
        }
  
        &__terms  {
            margin-left: 10px;
            font-size: 12px;
            line-height: normal;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
      }
  }
  
  /* =====================
     Mobile tablets
     ====================*/
     @media only screen and (min-width : 768px) {
      .footer  {
          margin-top: 10%;
          width: 100%;
          height: 88px;
          left: 0px;
          top: 1054px;
          
          background: #000000;
          display: flex;
      
          &__develop  {
              margin-left: 10%;
              margin-top: 5%;
              width: 50%;
              top: 5%;
              
              font-family: Arial;
              font-size: 70%;
              line-height: normal;
              color: #FFFFFF;   
      
            }
      
            &__terms  {
              margin-left: 10%;
              margin-top: 5%;
              font-family: Arial;
              font-size: 70%x;
              line-height: normal;
              text-decoration-line: underline;
              color: #FFFFFF;
            }
        }
     }
  
  /* =====================
     Desktop
     ====================*/
     @media only screen and (min-width : 1224px) {
      .footer  {
          margin-top: 10%;
          width: 100%;
          height: 88px;
          left: 0px;
          top: 1054px;
          
          background: #000000;
          display: flex;
      
          &__develop  {
              margin-left: 5%;
              margin-top: 3%;
              width: 50%;
              top: 5%;
              
              font-family: Arial;
              font-size: 70%;
              line-height: normal;
              color: #FFFFFF;   
      
            }
      
            &__terms  {
              margin-left: 30%;
              margin-top: 3%;
              font-family: Arial;
              font-size: 70%;
              line-height: normal;
              text-decoration-line: underline;
              color: #FFFFFF;
            }
        }
  
     }
  