/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.scss
 */
/*
 * Author:      cviquez@intelligentsense.com
 * Date:        03/04/2019
 * Description: Main COMPASS file. Import all the partials you need here.
 */
/**
* Mixin for image replacement
*/
/* ==========================
    Column main definition
=============================*/

h1  {
  text-align: center;
}

.main-container {
  margin: 25px;
  border: 25px;
  padding: 25px;
  content: 25px;
}

.column  {
    position: relative;
    float: left;
	width: 20%;
	padding: 10px;
    height: 300px;
    margin: 50px;
}

/* ==========================================================================
   Independent Columns
   ========================================================================== */
.facebook  {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 255, 0.815);

}

.twitter  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 174, 255); 
}


.instagram  {
    font-family: 'Nunito', sans-serif;  
    background-color: rgba(165, 77, 42, 0.815); 
}

.fab  {
    font-size: 48px;
    position: absolute;
    margin-left: 100px;
    bottom: 20px;
}

/* ==========================================================================
   Icon Style
   ========================================================================== */

a  {
    color: rgb(253, 253, 253);
    text-decoration: none;
}

a:hover  {
    color: burlywood;

}

