/* =====================
   Mobile phones
  ====================*/ 
  @media only screen and (min-width: 310px) {
    .cover  {
        height: 250px;
        background-image: url("../../assets/img/banner-mobile.png");
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .search  {
        margin-left: 10%;

        &__title  {
            font-size: 24px;
            line-height: normal;
            width: 80%;
            
            color: black;   
        }

        &__input  {
            background: #FFFFFF;
            border: 1px solid #8E8E8E;
            box-sizing: border-box;
            border-radius: 20px;
            width: 90%;
            height: 44px;
            font-size: 18px;
            line-height: normal;
            color: #8E8E8E;
            text-indent: 10px;

        }

        &__image  {
            width: 23px;
            height: 23px;
            margin-left: -40px;
            margin-bottom: -4px;
        }

    }

    .agent-container  {
        width: 90%;
        margin-left: 6%;

        &__agent-item  {
            margin-top: 10px;

            &__header  {
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid #D8D8D8;

                &__agent-name  {
                    margin-left: 2%;
                    font-size: 18px;
                    line-height: normal;
                }

            }

           &__body  {
               display: flex;
                &__agent-description  {
                    margin-left: 10%;
                    width: 80%;
                    height: 50%;
                    font-size: 12px;
                    line-height: normal;
                    text-align: justify;
                    color: #000000;
                }
            }

            &__footer  {
                display:flex;

                &__price-description  {
                    font-size: 14px;
                    line-height: normal;
                    color: #000000;
                }

                &__btn-buy  {
                    margin-left: 80px;
                    background: #000000;
                    border-radius: 18px;
                    font-size: 14px;
                    text-align: center;
                    color: #FFFFFF;
                    width: 156px;
                    height: 34px;
                }

            }
        }
    }

  .footer  {
      width: 100%;
      height: 88px;
      top: 1054px;
      display: inline-block;
      background: #000000;
    
      &__develop  {
          margin-left: 10px;
          width: 184px;
          height: 28px;        
          font-size: 12px;
          line-height: normal;
          color: #FFFFFF;   
      }

      &__terms  {
          margin-left: 10px;
          font-size: 12px;
          line-height: normal;
          text-decoration-line: underline;
          color: #FFFFFF;
      }
  }
}

/* =====================
   Mobile tablets
   ====================*/
   @media only screen and (min-width : 768px) {

    .cover  {
        height: 304px;
        background-image: url("../../assets/img/banner.png");
        background-size: 100%;
        background-repeat: no-repeat;
    
    }

    .search  {
        position: absolute;
        top: 210px;
        width: 700px;

        &__title  {
            font-size: 24px;
            line-height: normal;
            width: 35%;
            color:white;   
        }

    }

    .agent-container  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1%;

        &__agent-item {
            margin-right: 10%;
        }
    }
}

 /* =====================
   Desktop
   ====================*/
   @media only screen and (min-width : 1224px) {
    .cover  {
        height: 536px;
    }
    
    .search  {
        position: absolute;
        top: 302px;
        width: 574px;

        &__title  {
            font-size: 36px;
            line-height: normal;
            width: 108%;
            color: white;
        } 

    }

    .agent-container  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1%;

    }
}